.first {
    background-color: black;
    font-weight: bold;
    color: white;
}

.second {
    background-color: yellow;
    border-color: black;
    border-style: solid;
}

body {
    background-color: black;
    justify-content: center;
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    width: fit-content;
}

.main {
    display:flex;
    padding: 5px;
    background-color: white;
    justify-content: center;
    width: fit-content;

    gap: 5px;
}

